.search-result {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  overflow-y: auto;

  // &::-webkit-scrollbar {
  //   display: none;
  // }

  tr{
    vertical-align: middle;
  }
}

.carousel-item {
  .coin-group {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      width: auto;
      height: 80px;
      object-fit: contain;
      object-position: center;
    }

    @media (max-width: 575px) {}
  }
}

.news {
  background-color: #fafafa;

  .card {
    margin: 1rem 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.navbar-toggler{
  margin-left: auto;
}

.navbar-brand{
  min-height: 58px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.MuiAvatar-root{
  margin: 10px;
}

.MuiTypography-root{
  color:black;
}